{% extends "emails/base.html.twig" %}

{% block body %}
    <p>Regarding: <strong><a href="{{ advert.url }}">{{ advert.title }}</a></strong></p>
    <p>Hi {{ first_name }},</p>
    <p>You have not logged in to Christian Flatshare for {{ last_login_days }} days.</p>
    <p>Please can you confirm if you advert is still needed:</p>
    
    <ul>
        <li><a href="{{ keep_url }}">My advert is still needed</a> (sets your &quot;last logged in&quot; date to today)</li>
        <li><a href="{{ suspend_url }}">Please remove my advert</a> (suspends your advert so it is no longer shown, stops Flat-Match emails)</li>
    </ul>
    
    <p>Adverts are suspended as assumed no longer needed if a member does not login for 30 days.</p>
    <p>Suspended adverts can be un-suspended at anytime by logging  in and going to &quot;Your ads&quot;.</p>
    
    <p>If the above links do not work in your browser, please cut and paste these into your browser:</p>
    <p>My advert is still needed: {{ keep_url }}<br />Please remove my advert: {{ suspend_url }}</p>
{% endblock %}